*  {
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:  hsl(216, 12%, 8%);
    margin: auto;
    font-family: 'Overpass', sans-serif;
    margin-top: 50px;
    font-size: 15px;
}

.container {
    background-color:  hsl(213, 19%, 18%);
    padding: 50px;
    border-radius: 30px;
    width: 95%;
    margin: auto;
}

.button {
    border-radius: 20px;
    font-weight: 700;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
}

#form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.start {
    background-color:  hsl(216, 12%, 8%);
    padding: 15px;
    border-radius: 50%;
}

.orange { color: hsl(25, 97%, 53%) }

input[type=radio] {
    width: 0;
}

input[type=radio] + span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color:  hsl(216, 12%, 8%);
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type=radio] + span:hover {
    background-color:  hsl(216, 12%, 54%);
    transform: translateY(-5px);
    box-shadow: 0 2px 5px hsla(217, 13%, 64%, 0.829);
}

input[type=radio]:checked + span { 
    background-color:  hsl(25, 97%, 53%);
}

@media (min-width: 800px) {
    .container {
        width: 30%;
    }

    #form {
        width: 100%;
        text-align: center;
    }
}